body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    color: #333333;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
}

h1 {
    color: #16488a;
}

h2 {
    color: #b2c619;
}

p, ul {
    line-height: 1.8;
    font-size: 16px;
}